---
// Definindo items de navegação do site.
const navItems = [
  { text: "Início", href: "#Hero" },
  { text: "Nossa História", href: "#Sobre" },
  { text: "Soluções", href: "#Solucoes" },
  { text: "Depoimentos", href: "#Depoimentos" },
  { text: "Parceiros", href: "#Parceiros" },
  { text: "Trabalhe Conosco", href: "#Trabalhe-Conosco" },
];

const CTA_TEXT = "Fale com um especialista";
---

<header
  class="sticky text-white top-0 z-40 w-full bg-azul-escuro/95 backdrop-blur border-b border-azul-escuro">
  <div class="relative overflow-hidden">
    <!-- Angled background for the right section -->
    <div
      class="absolute right-0 top-0 h-full w-[28%] 2xl:w-[33%] bg-laranja skew-section 3xl:hidden">
    </div>

    <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
      <div class="flex justify-between items-center h-16 relative">
        <!-- Logo -->
        <div class="flex-shrink-0 flex items-center justify-between gap-16">
          <a href="/" class="flex items-center">
            <img
              src="/images/neuon-logo-white.svg"
              alt="Logo Neuon"
              class="h-8"
            />
            <span class="text-2xl font-bold text-white ml-2 hidden">NEUON</span>
          </a>
        </div>

        <!-- Desktop Navigation -->
        <nav class="hidden xl:flex space-x-4">
          {
            navItems.map((item) => (
              <a
                href={item.href}
                class="inline-flex items-center px-1 pt-1 text-xs uppercase font-medium text-white  hover:text-gray-300">
                {item.text}
              </a>
            ))
          }
        </nav>

        <!-- CTA Button -->
        <div class="hidden xl:block">
          <a
            href="#Contato"
            class="inline-flex items-center bg-laranja justify-center h-full px-2 py-2 2lx:px-4 2xl:py-2 text-base font-medium text-nowrap text-white hover:underline">
            {CTA_TEXT}
          </a>
        </div>

        <!-- Mobile menu button -->
        <div class="flex xl:hidden">
          <button
            type="button"
            id="mobile-menu-button"
            class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-gray-300 focus:outline-none"
            aria-controls="mobile-menu"
            aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!-- Hamburger icon -->
            <svg
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Mobile Menu, hidden by default -->
<div class="md:hidden hidden bg-azul-escuro" id="mobile-menu">
  <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
    {
      navItems.map((item) => (
        <a
          href={item.href}
          class="block px-3 py-2 text-base font-medium text-white hover:text-gray-300">
          {item.text}
        </a>
      ))
    }
    <a
      href="#Contato"
      class="block w-full text-center px-4 py-2 mt-4 text-sm font-medium text-white bg-laranja hover:bg-amber-600 focus:outline-none hover:underline">
      {CTA_TEXT}
    </a>
  </div>
</div>

<style>
  .skew-section {
    transform: skewX(-35deg);
    transform-origin: top right;
    right: -4rem; /* Ajuste para garantir que cubra toda a borda direita */
  }
</style>

<script>
  // Toggle mobile menu
  const mobileMenuButton = document.getElementById("mobile-menu-button");
  const mobileMenu = document.getElementById("mobile-menu");

  if (mobileMenuButton && mobileMenu) {
    mobileMenuButton.addEventListener("click", () => {
      const expanded =
        mobileMenuButton.getAttribute("aria-expanded") === "true";
      mobileMenuButton.setAttribute("aria-expanded", (!expanded).toString());
      mobileMenu.classList.toggle("hidden");
    });
  }
</script>
