---
export interface Props {
  quote: string;
  name: string;
  title: string;
  imageSrc?: string;
}

const { quote, name, title, imageSrc } = Astro.props;
---

<div class="bg-[#063099] text-white shadow-sm border-t border-azul-escuro p-6">
  <div class="flex items-center">
    <div class="flex-shrink-0 px-4">
      <img class="h-34 w-34 rounded-full" src={imageSrc} alt={name} />
    </div>
    <div class="ml-6 flex-1">
      <h4 class="text-lg font-semibold uppercase mb-4">{name} - {title}</h4>
      <blockquote>
        <p class="text-base text-secondary-700 italic">"{quote}"</p>
      </blockquote>
    </div>
  </div>
</div>
